<br><br><br>
<hr>
<%= link_to "class1", my_class_class1_path %>
<%= link_to "class2", my_class_class2_path %>
<%= link_to "class3", my_class_class3_path %>

<table>
    <thead>

    <tr>
     <th>Student</th>
     <th>Class</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr> 
         <td style="text-transform: uppercase;"><%= student.name %></td>
         <td style="text-transform: uppercase;"><i><%= student.my_class.my_class %></strong></i>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br>
<hr>